<p>Hello {{ user.name }},</p>
<p>You have received this message because you could not sign in to your account on {{ system_siteName }}. To recover your account, please click on the link given below.</p>
<p>{{ link }}Recover your account {{ /link }}</p>
<p>However, if you think you have received this email out of an error, please ignore this message and do nothing.</p>