<p>Hello {{ user.name }},</p>
<p>You have received this message because you created an account on {{ system_siteName }}. Please click on the link below to activate your account.</p>
<p>{{ link }}Validate email{{ /link }}</p>
<p>However, if you did not try to or wish to open and account, please ignore this message and do nothing.</p>