<p>Hello {{ customer.name }},</p>
<p>This is to notify you that we have received a payment of {{ tran.idCurrency }} {{ tran.amount }} against your order {{ order.ocode }}.</p>
<p>We shall notify you as soon as your order is dispatched.</p>